@media screen and (max-width: 575px) {
  
  header {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    width: 100%;
  }

  .header__title {
    margin: 10px 7px 10px 0;
  }

  main {
    grid-template-columns: auto;
    height: 94vh;;
  }

  .sidebar {
    height: 550px;
  }

  .sidebar__form {
    margin-top: 70px;
  }
  
  .sidebar__form__todo--item--container {
    display: flex;
    flex-direction: row-reverse;
  }

  .sidebar__form__todo--item--input {
    width: 100%;
  }

  .card-zone {
    align-items: center;
    display: grid;
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  
  body {
    width: 320px;
  }
}